{% extends "tracker/base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Asignar rol al proyecto #{{ view.kwargs.pk }}</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="text-primary font-weight-bold m-0">Usuarios</h6>
                        </div>
                        <div class="card-body"><select class="custom-select" name="usuario"
                                                       size="10">
                            {% for usuario in  form.usuario %}
                                {% if not forloop.first %}
                                    {{ usuario }}
                                {% endif %}
                            {% endfor %}
                        </select></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="text-primary font-weight-bold m-0">Tipo</h6>
                        </div>
                        <div class="card-body"><select class="custom-select" name="tipo"
                                                       size="10">
                            {% for tipo in  form.tipo %}
                                {{ tipo }}
                            {% endfor %}
                        </select></div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-sm" type="submit">Enviar</button>
        </form>
    </div>
{% endblock %}