{% extends "tracker/base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Editar proyecto #{{ object.id }}</h3>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-lg-4">
                    <div class="card mb-3">
                        <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" id="imagen_auto"
                                                                       src="{{ object.imagen.url }}"
                                                                       width="160"
                                                                       height="160">
                            <div class="mb-3">
                                <div class="custom-file">
                                    <input type="file" accept="image/*" class="custom-file-input" name="imagen"
                                           id="id_imagen" onchange="cambiarImagen(event)">
                                    <label class="custom-file-label" for="customFile">Elegir imagen</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 font-weight-bold">Detalles</p>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group"><label
                                                    for="nombre"><strong>Nombre</strong></label><input
                                                    class="form-control" type="text"
                                                    name="nombre" value="{{ object.nombre }}"></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group"><label
                                                    for="descripcion"><strong>Descripción</strong><br></label><textarea
                                                    class="form-control"
                                                    name="descripcion">{{ object.descripcion }}</textarea></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-sm" type="submit">Enviar</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}