{% extends "users/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image"
                                     style="background-image: url(&quot;{% static 'assets/img/banner_registro.webp' %}&quot;);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Restablecer Contraseña</h4>
                                    </div>
                                    <div class="alert alert-info text-center">
                                        Su contraseña ha sido actualizada.
                                    </div>
                                    <hr>
                                    <div class="text-center"><a class="small" href="{% url 'login' %}"><br>Iniciar
                                        sesión<br></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}