{% extends "users/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5" style="margin: 0px -12px;">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex" style="width: 929;height: 673;">
                        <div class="flex-grow-1 bg-register-image"
                             style="background-image: url(&quot;{% static 'assets/img/banner_registro.webp' %}&quot;);"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Has cerrado sesión</h4>
                                <a class="small" href="#"><br>¿Has olvidado la contraseña?<br></a>
                                <a class="small" href="{% url 'login' %}">Iniciar sesión de nuevo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}